extends layout

block content
  div(class="container-fluid mb-5 px-0")  
    div(id="carouselExampleIndicators" class="carousel slide" data-ride="carousel")
      ol(class="carousel-indicators")
        li(data-target="#carouselExampleIndicators" data-slide-to="0" class="active")
        li(data-target="#carouselExampleIndicators" data-slide-to="1")
        li(data-target="#carouselExampleIndicators" data-slide-to="2")
      div(class="carousel-inner")
        div(class="carousel-item active")
          img(class="d-block w-100" src="/first.svg" alt="First slide")
        div(class="carousel-item")
          img(class="d-block w-100" src="/second.svg" alt="Second slide")
        div(class="carousel-item")
          img(class="d-block w-100" src="/third.svg" alt="Third slide")
      a(class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev")
        span(class="carousel-control-prev-icon" aria-hidden="true")
        span(class="sr-only") Previous
      a(class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next")
        span(class="carousel-control-next-icon" aria-hidden="true")
        span(class="sr-only") Next

  div(class="container")  
    div(class="card")
      div(class="card-header")
        div(class="row")
          div(class="col") 菜系
          div(class="col text-right")
            a(href="") 更多
      div(class="card=body")
        div(class="card-group")
          div(class="card")
            img(class="card-img-top" src="/chuanFood.jpg" alt="川菜" style="background-size: cover")
            div(class="card-body")
              h5(class="card-title")
                a(href="") 川菜
          div(class="card")
            img(class="card-img-top" src="/yueFood.jpg" alt="粤菜" style="background-size: cover")
            div(class="card-body")
              h5(class="card-title") 
                a(href="") 粤菜
          div(class="card")
            img(class="card-img-top" src="/xiangFood.jpg" alt="湘菜" style="background-size: cover")
            div(class="card-body")
              h5(class="card-title") 
                a(href="") 湘菜
          div(class="card")
            img(class="card-img-top" src="/luFood.jpg" alt="鲁菜" style="background-size: cover")
            div(class="card-body")
              h5(class="card-title") 
                a(href="") 鲁菜
          div(class="card")
            img(class="card-img-top" src="/jingFood.jpg" alt="京菜" style="background-size: cover")
            div(class="card-body")
              h5(class="card-title") 
                a(href="") 京菜
          div(class="card")
            img(class="card-img-top" src="/dongbeiFood.jpg" alt="东北菜" style="background-size: cover")
            div(class="card-body")
              h5(class="card-title") 
                a(href="") 东北菜
          div(class="card")
            img(class="card-img-top" src="/westernFood.jpg" alt="西餐" style="background-size: cover")
            div(class="card-body")
              h5(class="card-title") 
                a(href="") 西餐
    hr
    div(class="card")
      div(class="card-header")
        div(class="row")
          div(class="col") 功效
          div(class="col text-right")
            a(href="") 更多
      div(class="card=body")
        div(class="card-group")
          div(class="card")
            img(class="card-img-top" src="/qingfei.jpg" alt="/qingfei.jpg" style="background-size: cover")
            div(class="card-body")
              h5(class="card-title")
                a(href="") 清肺
          div(class="card")
            img(class="card-img-top" src="/hugan.jpg" alt="/hugan.jpg" style="background-size: cover")
            div(class="card-body")
              h5(class="card-title") 
                a(href="") 护肝
          div(class="card")
            img(class="card-img-top" src="/loseWeight.jpg" alt="/loseWeight.jpg" style="background-size: cover")
            div(class="card-body")
              h5(class="card-title") 
                a(href="") 减肥
          div(class="card")
            img(class="card-img-top" src="/breedStomach.jpg" alt="/breedStomach.jpg" style="background-size: cover")
            div(class="card-body")
              h5(class="card-title") 
                a(href="") 养胃
          div(class="card")
            img(class="card-img-top" src="/enlargeBreast.jpg" alt="/enlargeBreast.jpg" style="background-size: cover")
            div(class="card-body")
              h5(class="card-title") 
                a(href="") 丰胸
          div(class="card")
            img(class="card-img-top" src="/paidu.jpg" alt="/paidu.jpg" style="background-size: cover")
            div(class="card-body")
              h5(class="card-title") 
                a(href="") 排毒
          div(class="card")
            img(class="card-img-top" src="/buildblood.jpg" alt="/buildblood.jpg" style="background-size: cover")
            div(class="card-body")
              h5(class="card-title") 
                a(href="") 补血
          div(class="card")
            img(class="card-img-top" src="/buildCa.jpg" alt="/buildCa.jpg" style="background-size: cover")
            div(class="card-body")
              h5(class="card-title") 
                a(href="") 补钙
          div(class="card")
            img(class="card-img-top" src="/improveImmunity.jpg" alt="/improveImmunity.jpg" style="background-size: cover")
            div(class="card-body")
              h5(class="card-title") 
                a(href="") 提高免疫力
    hr  
    div(class="card")
      div(class="card-header")
        div(class="row")
          div(class="col") 场景
          div(class="col text-right")
            a(href="") 更多
      div(class="card=body")
        div(class="card-group")
          div(class="card")
            img(class="card-img-top" src="/breakfast.jpg" alt="早餐" style="background-size: cover")
            div(class="card-body")
              h5(class="card-title")
                a(href="") 早餐
          div(class="card")
            img(class="card-img-top" src="/lunch.jpg" alt="午餐" style="background-size: cover")
            div(class="card-body")
              h5(class="card-title") 
                a(href="") 午餐
          div(class="card")
            img(class="card-img-top" src="/afternoonTea.jpg" alt="/afternoonTea.jpg" style="background-size: cover")
            div(class="card-body")
              h5(class="card-title") 
                a(href="") 下午茶
          div(class="card")
            img(class="card-img-top" src="/dinner.jpg" alt="/dinner.jpg" style="background-size: cover")
            div(class="card-body")
              h5(class="card-title") 
                a(href="") 晚餐
          div(class="card")
            img(class="card-img-top" src="/midnightSnack.jpg" alt="/midnightSnack.jpg" style="background-size: cover")
            div(class="card-body")
              h5(class="card-title") 
                a(href="") 夜宵
          div(class="card")
            img(class="card-img-top" src="/picnick.jpg" alt="/picnick.jpg" style="background-size: cover")
            div(class="card-body")
              h5(class="card-title") 
                a(href="") 踏青
          div(class="card")
            img(class="card-img-top" src="/within10minutes.jpg" alt="/within10minutes.jpg" style="background-size: cover")
            div(class="card-body")
              h5(class="card-title") 
                a(href="") 10分钟内
          div(class="card")
            img(class="card-img-top" src="/within20minutes.jpg" alt="/within20minutes.jpg" style="background-size: cover")
            div(class="card-body")
              h5(class="card-title") 
                a(href="") 10-20分钟
          div(class="card")
            img(class="card-img-top" src="/withinTheHour.jpg" alt="/withinTheHour.jpg" style="background-size: cover")
            div(class="card-body")
              h5(class="card-title") 
                a(href="") 半小时-1小时
    hr
    div(class="card")
      div(class="row")
        div(class="col")
          div(class="card-header")
            div(class="row")
              div(class="col") 菜肴
              div(class="col text-right")
                a(href="") 更多
          div(class="card=body")
            div(class="card-group")
              div(class="card")
                img(class="card-img-top" src="/privateFood.jpg" alt="私房菜" style="background-size: cover")
                div(class="card-body")
                  h5(class="card-title")
                    a(href="") 私房菜
              div(class="card")
                img(class="card-img-top" src="/wineFood.jpg" alt="下酒菜" style="background-size: cover")
                div(class="card-body")
                  h5(class="card-title") 
                    a(href="") 下酒菜
              div(class="card")
                img(class="card-img-top" src="/snack.jpg" alt="小吃" style="background-size: cover")
                div(class="card-body")
                  h5(class="card-title") 
                    a(href="") 小吃
              div(class="card")
                img(class="card-img-top" src="/seaFood.jpg" alt="海鲜" style="background-size: cover")
                div(class="card-body")
                  h5(class="card-title") 
                    a(href="") 海鲜
        div(class="col")
          div(class="card-header")
            div(class="row")
              div(class="col") 主食
              div(class="col text-right")
                a(href="") 更多
          div(class="card=body")
            div(class="card-group")
              div(class="card")
                img(class="card-img-top" src="/rice.jpg" alt="/rice.jpg" style="background-size: cover")
                div(class="card-body")
                  h5(class="card-title")
                    a(href="") 饭
              div(class="card")
                img(class="card-img-top" src="/gruel.jpg" alt="/gruel.jpg" style="background-size: cover")
                div(class="card-body")
                  h5(class="card-title") 
                    a(href="") 粥
              div(class="card")
                img(class="card-img-top" src="/noodles.jpg" alt="/noodles.jpg" style="background-size: cover")
                div(class="card-body")
                  h5(class="card-title") 
                    a(href="") 面
              div(class="card")
                img(class="card-img-top" src="/flour.jpg" alt="/flour.jpg" style="background-size: cover")
                div(class="card-body")
                  h5(class="card-title") 
                    a(href="") 粉
    hr
    div(class="card")
      div(class="row")
        div(class="col")
          div(class="card-header")
            div(class="row")
              div(class="col") 人群
              div(class="col text-right")
                a(href="") 更多
          div(class="card=body")
            div(class="card-group")
              div(class="card")
                img(class="card-img-top" src="/pregnant.jpg" alt="/pregnant.jpg" style="background-size: cover")
                div(class="card-body")
                  h5(class="card-title")
                    a(href="") 孕妇
              div(class="card")
                img(class="card-img-top" src="/children.jpg" alt="/children.jpg" style="background-size: cover")
                div(class="card-body")
                  h5(class="card-title") 
                    a(href="") 儿童
              div(class="card")
                img(class="card-img-top" src="/baby.jpg" alt="/baby.jpg" style="background-size: cover")
                div(class="card-body")
                  h5(class="card-title") 
                    a(href="") 幼儿
              div(class="card")
                img(class="card-img-top" src="/theOld.jpg" alt="/theOld.jpg" style="background-size: cover")
                div(class="card-body")
                  h5(class="card-title") 
                    a(href="") 老年人
        div(class="col")
          div(class="card-header")
            div(class="row")
              div(class="col") 气节
              div(class="col text-right")
                a(href="") 更多
          div(class="card=body")
            div(class="card-group")
              div(class="card")
                img(class="card-img-top" src="/springEquinox.jpg" alt="/springEquinox.jpg" style="background-size: cover")
                div(class="card-body")
                  h5(class="card-title")
                    a(href="") 春分
              div(class="card")
                img(class="card-img-top" src="/summerSolstice.jpg" alt="/summerSolstice.jpg" style="background-size: cover")
                div(class="card-body")
                  h5(class="card-title") 
                    a(href="") 夏至
              div(class="card")
                img(class="card-img-top" src="/autumnEquinox.jpg" alt="/autumnEquinox.jpg" style="background-size: cover")
                div(class="card-body")
                  h5(class="card-title") 
                    a(href="") 秋分
              div(class="card")
                img(class="card-img-top" src="/winterSolstice.jpg" alt="/winterSolstice.jpg" style="background-size: cover")
                div(class="card-body")
                  h5(class="card-title") 
                    a(href="") 冬至


  //- script swal('hello')