extends layout

block content
  div(class="container")
    div(class="row")
      div(class="col")
      div(class="col")
        h5 登录
        form(action="/login", method="post")
          if account
            div(class="form-group")
              label(for="account") 账户
              input(type="text" class="form-control" id="account" name="account" required minlength="5" maxlength="16" value=account)
            div(class="form-group")
              label(for="password") 密码
              input(type="password" class="form-control" id="password" name="password" required minlength="8" maxlength="16" autofocus="autofocus")
          else
            div(class="form-group")
              label(for="account") 账户
              input(type="text" class="form-control" id="account" name="account" required autofocus="autofocus" minlength="5" maxlength="16")
            div(class="form-group")
              label(for="password") 密码
              input(type="password" class="form-control" id="password" name="password" required minlength="8" maxlength="16" )
          hr
          input(type="text" class="form-control" id="captcha" name="captcha" required placeholder="验证码（区分大小写）")
          != captcha.data
          button(type="submit" class="btn btn-primary") 登录
        div(class="row mt-3")
          div(class="col")
            a(class="" href="/register") 注册
          div(class="col")
            a(class="" href="/password") 忘记密码？
      div(class="col")
    