extends layout

block content
  div(class="container")
    div(class="row")
      div(class="col")
      div(class="col")
        h5 找回密码
        if email
          form(action="/password", method="post")
            input(type="text" class="form-control my-2" id="account" name="account" required value=account minlength="5" maxlength="16")
            input(type="email" class="form-control my-2" id="email" name="email" required value=email)    
            input(type="password" class="form-control my-2" id="password" name="password" value=password required minlength="8" maxlength="16")
            input(type="password" class="form-control my-2" id="passwordConfirm" name="passwordConfirm" value=passwordConfirm required minlength="8" maxlength="16")
            hr
            div
              button(type="submit" class="btn btn-primary mb-2" disabled) 获取邮箱验证码    
            input(type="text" class="form-control" id="emailCaptcha" name="emailCaptcha" placeholder="请填写邮件收到的验证码") 
            button(type="submit" class="btn btn-primary my-2") 确认重置密码
        else 
          form(action="/password", method="post")
            input(type="text" class="form-control my-2" id="account" name="account" required autofocus="autofocus" placeholder="账号" minlength="5" maxlength="16")
            input(type="email" class="form-control my-2" id="email" name="email" required placeholder="邮箱")
            input(type="password" class="form-control my-2" id="password" name="password" placeholder="新密码" required minlength="8" maxlength="16")
            input(type="password" class="form-control my-2" id="passwordConfirm" name="passwordConfirm" placeholder="确认新密码" required minlength="8" maxlength="16")
            hr
            div
              button(type="submit" class="btn btn-primary mb-2") 获取邮箱验证码
            input(type="text" class="form-control" id="emailCaptcha" name="emailCaptcha" placeholder="请填写邮件收到的验证码") 
            button(type="submit" class="btn btn-primary my-2" disabled) 确认重置密码
      div(class="col")