extends layout

block content
  div(class="container")
    div(class="row")  
      div(class="col")
      div(class="col")
        form(action="/register", method="post" id="register")
          h5 注册
          input(type="email" class="form-control my-2" id="email" name="email" required autofocus="autofocus" placeholder="E-mail")
          input(type="text" class="form-control my-2" id="account" name="account" required placeholder="账号（至少五位数）" minlength="5" maxlength="16")
          input(type="password" class="form-control my-2" id="password" name="password" required placeholder="密码（至少八位数）" minlength="8" maxlength="16")
          input(type="password" class="form-control my-2" id="passwordConfirm" name="passwordConfirm" required placeholder="确认密码" minlength="8" maxlength="16")
          input(type="text" class="form-control my-2" name="gender" list="gender" placeholder="性别" minlenght="1" maxlength="1")
          datalist(id="gender"  class="dropdown-menu")
            option(value="男" class="dropdown-item")
            option(value="女" class="dropdown-item")
          hr
          input(type="text" class="form-control" id="captcha" name="captcha" required placeholder="验证码(区分大小写)")
          #{ captcha.data }
          button(type="submit" class="btn btn-primary") 注册
      div(class="col") 